<div class="col-lg-3 col-md-4 col-sm-12">
  <div class="card border-dark text-center mb-3"">
    <img class="card-img-top" src="/ghost-images/<%=ghost.picture%>" alt="<%=ghost.name%>">
    <div class="card-body">
      <p class="card-text"><h3><%=ghost.name%></h3></p>
    </div>
  </div>
</div>
