<div class="col-4">
  <div class="card p-3 m-2" style="width: 18rem;">
    <img class="card-img-top" src="/ghost-images/<%=ghost.picture%>" alt="<%=ghost.name%>">
    <div class="card-body">
      <p class="card-text"><%=ghost.name%></p>
    </div>
  </div>

</div>
